
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(53,68,88,0.8);
}

.container .introduction {
  width: 100%;
  height: 100%;
  padding-right: 10px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuQ9rQYy9VTruTI34l1YVW-LU6nT8wibuYiT0zFA2daaj8zfllsyXsot-9ddz39dQ2T3w&usqp=CAU');
  background-size: 100%;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.container .introduction h1, p { 
  margin-top: 60px; 
  margin-left: 20px;
}

.container .introduction p { 
  margin-top: 0px; 
  margin-left: 20px;
  font-family: 'Arial';
  font-weight: 100;
  max-width: 500px;
}

.container .introduction .think img { width: 300px; }

.container .introduction .think { 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px; 
}

.container .login {
  height: 100%;
  width: 800px;
  padding-left: 25px;
  margin-top: 60px;
  font-size: 20px;
  color: #ffffff;
}

.container .login form {
  width: 100%;
  max-width: 500px;
} 

button { cursor: pointer;}

.container .login form .inputLabel, .loginButton {
  width: 300px;
  padding: 6px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.container .login form .loginButton {
  width: 100px;
  padding: 8px;
  margin-bottom: 25px;
}

.container .login form .register { border-top: 1px solid #ffffff; }

.container .login form .registerButton {
  margin-top: 25px;
  width: calc(100% - 25px);
  border-radius: 8px;
  padding: 15px;

}