#container_opt {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    border: solid 1px black;
    padding: 15px;
    margin: 15px;
    height: 140px;
    font-family: 'Courier New', Courier, monospace;
    width: calc(100% - 60px);
}

#container_opt  button { 
    width: 400px;
    height: 30px;
    background: cornflowerblue;
    color: #ffffff;
}

#container_opt  button:hover { 
    background-color: #ffffff;
    color: black;
}

#btn_left_opt, #btn_rigth_opt { margin-top: 60px; }

#btn_rigth_opt{ margin-left: 10px } 