.main {
    margin-top: 100px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    background-color: #f10446;
}

.error { font-size: 100px;}

.message { 
    font-size: 30px; 
    margin-top: -70px; 
    padding: 20px;
}