.main_question_class #question_container {
    width: 100%;
    height: 320px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_question_class #question_container #right_question,
#left_question {
    height: 100%;
    width: 60%;
    border: solid 1px black;
    background-color: #ffffff;

}

.main_question_class #question_container #left_question {
    margin-left: 20px;
    width: 50%;
}

.main_question_class #question_container #right_question {
    margin-right: 20px;
}

.main_question_class #question_container #left_question #txt_id {
    width: 595px;
    height: 315px;
    background-color: #ffffff;
    font-size: 18px;
    resize: none;
}

#div_question {
    margin: 30px;
    margin-top: 80px;
    font-size: 25px;
}

#div_tip {
    position: absolute;
    right: 0;
    margin-top: -60px;
    margin-right: 20px;
}

#div_tip #btn_tip {
    background: none;
    border: none;
    cursor: pointer;
}

#div_tip #btn_tip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: cornflowerblue;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin-top: 15px;
    right: 37px;
    cursor: pointer;
}

#div_tip #btn_tip:hover .tooltiptext {
    visibility: visible;
}

#id_feedback {
    display: flex;
    margin-left: 25px;
}

#id_feedback #btn_feedback {
    width: 200px;
    height: 30px;
    margin-top: 5px;
    margin-right: 25px;
    padding: 5px;
    background: cornflowerblue;
    color: #ffffff;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;
}

#id_feedback #btn_feedback:hover {
    background-color: #b6c8db
}

#id_feedback #p_feedback {
    font-size: 18px;
    margin-top: 10px;
    margin-right: 10px;
}

#right_question #div_answer {
    width: 100%;
    margin-top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#right_question #div_answer #btn_send_answer {
    background: cornflowerblue;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    padding: 8px;
    width: 400px;
    border-radius: 10px;
    cursor: pointer;
}

#right_question #div_answer #btn_send_answer:hover {
    background-color: #b6c8db
}