.main_question_class #question_container {
    width: 100%;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_question_class #question_container #right_question,
#left_question {
    height: 100%;
    width: 60%;
    border: solid 1px black;
    background-color: #ffffff;

}

.main_question_class #question_container #left_question {
    margin-left: 20px;
    width: 50%;
}

.main_question_class #question_container #left_question #answer {
    margin: 10px;
    margin-top: 0px;
}

.main_question_class #question_container #left_question #answer .Highlighter {
    height: 260px;
}

.main_question_class #question_container #left_question #btn_edit {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 15px;
    background-color: cornflowerblue;
    color: #fff;
    font-weight: bolder;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    position: fixed;
}

.main_question_class #question_container #right_question {
    margin-right: 20px;
}

.main_question_class #question_container #left_question #txt_id {
    width: 100%;
    height: 375px;
    background-color: #ffffff;
    font-size: 18px;
    resize: none;
}

#div_question {
    margin: 30px;
    margin-top: 60px;
    font-size: 25px;
    width: 90%;
}

#div_tip {
    position: absolute;
    right: 0;
    margin-top: -60px;
    margin-right: 20px;
}

#div_tip #btn_tip {
    background: none;
    border: none;
    cursor: pointer;
}

#div_tip #btn_tip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: cornflowerblue;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin-top: 15px;
    right: 37px;
    cursor: pointer;
}

#div_tip #btn_tip:hover .tooltiptext {
    visibility: visible;
}

#id_feedback {
    display: flex;
    margin-left: 10px;
}

#id_feedback #btn_feedback {
    width: 200px;
    margin-top: 5px;
    margin-right: 25px;
    padding: 3px;
    background: cornflowerblue;
    color: #ffffff;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;
}

#id_feedback #btn_feedback:hover {
    background-color: #b6c8db
}

#id_feedback #p_feedback {
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
}

#right_question .div_answer {
    width: 100%;
    position: relative;
    bottom: -120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#right_question .div_answer #btn_send_answer {
    background: cornflowerblue;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    padding: 8px;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

#right_question .div_answer #btn_send_answer:hover {
    background-color: #b6c8db
}

.main_question_class #question_container #right_question .percentageStyle {
    margin: 10px;
    margin-top: 80px;
    font-size: 25px;
    margin-right: 30px;
    font-weight: 600;
    color: black;
    text-align: center;
}


.main_question_class #question_container #left_question #answer { 
    font-size: 15px; 
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.main_question_class #div_question .font_size_class {
    font-size: 20px;
}


.new_modal .new_modal-content .edit_txt {
    width: 100%;
    height: 220px;
    margin-top: -40px;
}

.new_buttons {
    position: absolute;
    margin-top: 20px;
    right: 315px;
}

.new_buttons .btn {
    width: 100px
}

/* The Modal (background) */
.new_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Modal Content/Box */
  .new_modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 345px;
    margin-top: 50px;
}
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  #modal_id {
    display: block;
  }
  
  .p_header {
    margin-bottom: 100px;
    font-size: 30px;
    margin: 50px;
    height: 40px;
    margin-top: 0;
  }

@media screen and (max-width: 500px) {
    #main_question_class {
      font-size: 15px;
      width: 50%;
    }#question {
       font-size: 20px;
    }#div_question {
        font-size: 20px;
    }
    #right_question .div_answer #btn_send_answer {
        margin-top: -60px;
    }
    #id_feedback #p_feedback {
        font-size: 18px;
    }
    #id_feedback #btn_feedback {
        font-size: 12px;
    } 
 
  }

  @media screen and (max-width: 800px) {
    #success_msg {
        margin-left: 25px;
    }#emotion_img {
        width: 30px;
        
    }.main_question_class #question_container #right_question .percentageStyle{
        font-size: 15px;
    }
  }