button {
  margin-top: 0;
}

.main_questions_list #class_question_list {
  text-align: center;
  display: flex;
  justify-items: center;
  flex-direction: column;
  margin: 0px 20px 20px 20px;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 100px;
}

#class_question_list table,
th,
td {
  border: 1px solid;
}

#class_question_list table {
  width: 80%;
  background-color: ghostwhite;
}

#class_question_list table tr #btn_answer {
  height: 35px;
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  color: white;
}

#class_question_list table tr #btn_answer:hover {
  background-color: cornflowerblue;
}

#class_question_list table tr #btn_answer #next {
  margin-top: 0;
}

#class_question_list table #tr_header {
  background-color: #b6c8db;
}

#class_question_list table #tr_header .tb_class {
  width: 180px;
  padding: 2px;
}

#class_question_list table tr td {
  padding: 2px;
}

#tr_header #number {
  padding: 15px;
}

#next {
  width: 20px;
}

@media screen and (max-width: 1100px) {
  #tr_header {
    font-size: 15px;
    width: 50%;
  }#tr_header #number {
     padding: 15px;
  }
  #next {
      width: 10px;
  }
  #logo {
      display: none;
  }
}